body {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    background: #FAFAFA;
}

.container {
    padding: 5%;
    margin: 0;
}

h1.headline {
    font-size: 70px;
    font-weight: 900;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
}

h1 {
    font-weight: 900;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
}

h2 {
    font-weight: 900;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
}